<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <p>Hi {{ person }}! I think you're {{ compliment }}!
    Would you like to play a game?</p>

    <form action="/game">
    <input type="radio" name="games" value="yes_games" id="yes_games">
    <label for="yes_games">Yes</label>

    <input type="radio" name="games" value="no_games" id="no_games">
    <label for="no_games">No</label>

    <input type="submit">
    </form>

</body>
</html>