<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    </p>Fill out the below for your madlib!</p>
    <form action="/madlib">
      <p>A Person: <input type="text" name="person"></p>
      <p>A Color: <input type="text" name="color"></p>
      <p>A Noun: <input type="text" name="noun"></p>
      <p>An Adjective: <input type="text" name="adjective"></p>
      <p>A Place: <input type="text" name="place"></p>
    <input type="submit">    

    </form>
</body>
</html>